<div class="container">
    <div class="text-center">
      <h2> Search for a child minder </h2>
      <hr>
    </div>

    <div class="card text-center">
        <div class="card-header">
            Book A Child Minder
        </div>
        <div class="card-body">
            <h5 class="card-title">Book A Child Minder</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <div class="card-content">
                <%= form_tag '/search', method: :get, class:"form-group" do %>
                <div class="col-sm">
                    <%= label_tag "school" %>
                    <span class="selectpicker">
                      <%= collection_select(:school_id, :school_id, @schools, :id, :name) %>
                    </span>
                </div>

                <div class="col-sm">
                    <%= label_tag "date" %>
                    <%= date_select("date", "preferred_date", order: [:day, :month, :year], :discard_year => true, :default => Date.today) %>
                </div>
                <%= submit_tag "Search Avalabilities", class:"btn btn-primary" %>
                <% end %>
            </div>
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
</div>
