<h1>Name : <%= @child.name %></h1>
<p>Age : <%= @child.age %></p>
<p>School : <%= @child.school.name %></p>
<%= link_to "Update record", edit_user_child_path(current_user.id) %><br>
<%= link_to "Go Back", "/users/#{current_user.id}" %>

<h2>Bookings for <%= @child.name %></h2>

<%= month_calendar events: @bookings do |date, booking| %>
  <%= date %>
  <% booking.each do |booking| %>
    <div>
      <%= link_to "Booked with #{booking.user.name}", user_session_bookings_path(current_user) %>
    </div>
  <% end %>
<% end %>
