<%= form_for @user do |f| %>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %> <br>
  <%= f.label :email %>
  <%= f.text_field :email %> <br>
  <%= f.label :password %>
  <%= f.password_field :password %> <br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %> <br>
</div> <br>

 <div id="add-children">
   <h3>Children</h3>
     <%= f.fields_for(:children) do |ff| %> <hr>
       <%= ff.label :name %>
       <%= ff.text_field :name %> <br>
       <%= ff.label :age %>
       <%= ff.number_field :age %> <br> <hr>
     <% end %> <br>

 </div>
 <%= f.submit %>
<% end %>
