<div class="container">
    <div class="card text-center">
    <div class="card-header">
      Your Profile
    </div>
    <div class="card-body">
      <h3 class="card-title"> <%= @user.name %> </h3>
      <p class="card-text">
        <hr>
        <span> <h5>Your children</h5> </span>

          <% @children.each do |child| %>
          <span>
          <%=link_to child.name, [@user,child] %>
          </span>
          <% end  %>
      </p>

      <div class="text-center col-sm-12">
        <a href="/users/<%="#{@user.id}"%>/children/new" class="btn btn-primary">New Child</a>
      </div>
      <hr>
      <span class="text-center col-sm-12">
      <%= link_to "Your Bookings", user_session_bookings_path(@user) %>
    </span>
      <%= link_to "Your Availabilities", user_availabilities_path(@user) %>
    </div>
    <div class="card-footer text-muted">

    </div>
  </div>
</div>
