<div class="container-fluid bg-light sticky-top">
  <nav class="navbar navbar-expand-lg py-1 m-2 mb-1 border-bottom box-shadow">
    <a href="/">ChildMinders 'R' Us</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <span class="nav-link">
            <%= link_to "Search Availabilities", "/" %>
          </span>
        </li>

        <% if(!user_logged_in) %>
          <li class="nav-item">
            <span class="nav-link">
              <%= link_to "Login", "/login" %>
            </span>
          </li>

          <li class="nav-item">
            <span class="nav-link">
              <%= link_to "Register", "/signup" %>
            </span>
          </li>

        </div>

      <% else %>

        <li class="nav-item">
          <span class="nav-link">
            <%= link_to "Bookings", "/users/#{current_user.id}/session_bookings" %>
          </span>
        </li>
        <li class="nav-item">
          <span class="nav-link">
            <%= link_to "Create Availability", "/users/#{current_user.id}/availabilities/new" %>
          </span>
        </li>
        <li class="nav-item">
          <span class="nav-link">
            <%= link_to "View Profile", "/users/#{current_user.id}" %>
          </span>
        </li>
        <li class="nav-item">
          <span class="nav-link">
            <%= link_to "Logout", "/logout" %>
          </span>
        </li>

      <% end %>
    </ul>
  </div>
</div>
</nav>

  <div class="text-center">
    <% if flash[:notice] %>
       <div class="notice text-danger"><%= flash[:notice] %></div>
    <% end %>
    <%= render 'errors/errors' %>
  </div>
</div>
