<hr>
<div class="row text-center">
  <h1 class="col-sm h4 mb-1 font-weight-light">Viewing Booking ID: <%= @booking.id %></h1>
</div>
<hr>


<%= @booking.availability.user.name %>

<%= form_tag user_session_booking_path(current_user.id,@booking.id), method: "delete" do %>
  <%= submit_tag "Cancel booking" %>
<% end %>

<%= link_to "Go Back", "/users/#{current_user.id}/session_bookings" %>
