<h1> Your Booking </h1>


<%= @booking.availability %>

<%= "TURN THIS INTO A FORM" %>

<%= form_tag user_session_booking_path(current_user.id,@booking.id), method: "delete" do %>
  <%= submit_tag "Cancel booking" %>
<% end %>

<%= link_to "Go Back", "/users/#{current_user.id}/session_bookings" %>
