<h1> Availabilities </h1>

<% if current_user.id == params[:id] %>
  <h3><%=link_to "Add a new availability", new_user_availability_path %><br></h3>
<% end %>

<%= month_calendar events: @available_dates do |date, a| %>
  <%= date %>
  <% a.each do |availability| %>
    <div>
      <p>Available places <%= availability.number_of_children %></p>
      <p>Booked places <%= availability.session_bookings.length %></p>
      <%= link_to "View", user_availability_path(current_user, availability) %></p>
    </div>
  <% end %>
<% end %>
