<h1> This availablity </h1>
<p>Childminder: <%= @availability.user.name %></p>
<p>Contact: <%= @availability.user.email %></p>
<p>From<%= @availability.time_from %></p>
<p>Until<%= @availability.time_until %></p>
<p>Number of children <%= @availability.number_of_children %></p>

<ul>
  <span> SHOW THE CHILDREN THE CHILD MINDER HAS FOR THIS SECTION</span>
</ul>


<% if current_user.id == @availability.user.id %>
  <%= link_to "Update Availability", edit_user_availability_path(current_user.id) %><br>
<% end %>
<%= link_to "All availabilities for #{@availability.user.name}", user_availabilities_path(@availability.user.id) %><br>

<%= link_to "Go Back", "/" %>
